@font-face {
    font-family: "sf-pro-display";
    font-weight: regular;
    src: url("../public/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
}

@font-face {
    font-family: "sf-pro-display";
    font-weight: bold;
    src: url("../public/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100%;
}

body {
    /* background-color: #d1d1d1; */
    font-family: "sf-pro-display";
}

.main {
    /* display: flex;
    justify-content: center; */
}

button {
    cursor: pointer;
    transition: all 0.15s ease;
}

button:hover {
    scale: 1.05;
    transition: all 0.15s ease;
}

input {
    all: unset;
}